*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 40px;
}
i{
    margin: 5px;
}
.todo-container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: blueviolet;
}
.save-phone{
    display: none;
}
.input-container{
    width: 20%;
    height: 65%;
    padding: 20px;
    border: 2px solid #f2f0f0;
    border-radius: 10px;
    background-color: #964dda;
    display: inline-block;
}
input{
    height: 35px;
    border-radius: 20px;
   
    margin-top: 20px;
    border: none;
    text-align: center;
    font-size: 18px;
    

}
textarea{
    margin-top: 20px;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
}

.output-container{
    width: 50%;
    height: 50%;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    background-color: #964dda;
    overflow: scroll;

}
.heading{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.msg-container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    
}
.showdes{
    width: 35%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
p{
    font-size: 17px;
}
.output-container::-webkit-scrollbar{
    display: none;
}
.save-computer{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    
    margin-top: 20px;
    margin-left: 140px;
    border: none;
    background-color: white;
}
.save:hover{
   width: 125px;
   height: 40px;
}
.delete{
    width: 50px;
    height: 35px;
    border-radius: 20px;
    
    background-color: red;
    border: none;
}
textarea{
    font-size: 17px;
}

@media only screen and (min-width: 180px) and (max-width: 567px){

    body{
        padding: 10px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .todo-container{
        width: 100%;
        height: 85vh;
        background-color: #964dda;
        display: inline-block;
    }
    .save-computer{
        display: none; 

    }
    .save-phone{
        width: 90px;
        height: 35px;
        border-radius: 20px;
        font-size: 17px;
        display: block;
        background-color: black;
        color: white;
       
    }
    .input-container{
        margin: 0;
        margin-left: 23px;
        border: none;
        width: 80%;
        height: 20vh;
    }
    form{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    }
    .title{
        width: 50%;
        
    }
    textarea{
        height: 9vh;
    }
    .output-container{
        width: 85%;
        height: 40vh;
        margin-left: 15px;
        margin-top: 20px;
        display: flex;
        row-gap: 5px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .heading{
      display: none;
    }
    .msg-container{
        width: 40%;
        height: 19vh;
        border-radius: 10px;
        display: flex;
        margin: 0;
        padding: 5px;
        overflow: scroll;
        flex-wrap: wrap;
      
    }
    .msg-container::-webkit-scrollbar{
        display: none;
    }
    .showdate{
        font-size: 13px;
       color: rgb(80, 80, 80);
    }

}
